body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 0;
}

.linktext {
    font-size: large;
    text-decoration: none;
    color: black;
}

.link1 {
    padding: 10px;
    margin-top: 10px;
}

.link1:hover {
    transform: scale(1.01);
    background-color: rgb(247, 247, 247);
}

.img60 {
    width: 60%;
}

#header {
    padding: 50px;
}

#footer {
    font-size: large;
}

#contribute {
    color: gray;
    padding: 50px;
    background-color: rgb(247, 247, 247);
    margin-top: 30px;
}

#bottomRibbon {
    font-size: small;
    color: gray;
    padding: 50px;
}

.logo-link-small {
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

.logo-link-small:hover {
    transform: scale(1.08);
}