body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 5%;
}

.link {
    font-size: large;
    text-decoration: none;
    padding: 1%;
}

.img60 {
    width: 60%;
}